@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Chocoworld.Models.Carritodecompra>

@{
    ViewData["Title"] = "Carrito de Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Carrito de Compras</h1>

<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Producto.Nombre</td>
                <td>@item.Cantidad</td>
                <td>@item.Producto.Precio</td>
                <td>@(item.Cantidad * item.Producto.Precio)</td>
                <td>
                    <a asp-action="EliminarDelCarrito" asp-route-id="@item.CarritoId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <h4>Total: $@(Model.Sum(item => item.Cantidad * item.Producto.Precio))</h4>
    <a asp-action="RealizarPedido" class="btn btn-primary">Realizar Pedido</a>
</div>

