@model IEnumerable<Chocoworld.Models.Comentariosproducto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valoracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaComentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valoracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaComentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.ProductoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComentarioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComentarioId">Details</a> |
                    @if (User.IsInRole("Administrador"))
                    {
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ComentarioId">Eliminar</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
